!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Sample
    %style{:href => "./style.css", :type => "text/css"}
    / Compiled and minified CSS
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css", :rel => "stylesheet"}/
    / Compiled and minified JavaScript
    %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"}
  %body
    %nav.blue.lighten-1{:class => "#42a5f5"}
      .nav-wrapper
        %a.brand-logo{:href => "#"} 作品名:完成度30%のTwitter
        %ul#nav-mobile.right.hide-on-med-and-down
          %li
            = link_to "新規登録", new_user_registration_path, class: 'post' unless user_signed_in?
          %li
            = link_to "ログイン", new_user_session_path, class: 'post' unless user_signed_in?
          %li
            = link_to "投稿", new_tweet_path, method: :get if user_signed_in?
          %li
            = link_to "ログアウト", destroy_user_session_path, method: :delete if user_signed_in?
    .maincontents
      - @tweets.each do |tweet|
        = render partial: "tweet",locals:{tweet: tweet}
    %script{:src => "./app.js", :type => "text/javascript"}
